<mat-card>
    <h1 style="padding: 20px;">Update Category</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="w100"  appearance="outline">
                            <mat-label>Id</mat-label>
                            <input 
                                   autofocus
                                   type="text"
                                   name="id"
                                   matInput
                                   placeholder="Enter here"
                                   [(ngModel)]="category.cid"
                                   required
                                   
                             >
                         </mat-form-field>
                         <mat-form-field class="w100"  appearance="outline">
                            <mat-label>Title</mat-label>
                            <input 
                                   
                                   type="text"
                                   name="title"
                                   matInput
                                   placeholder="Enter here"
                                   [(ngModel)]="category.title"
                                   required
                                   
                             >
                         </mat-form-field>
                         <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea name="description" matInput placeholder="Enter Category" rows="10" required [(ngModel)]="category.description" ></textarea>
                         </mat-form-field>

                         <div class="text-center">
                            <button  mat-raised-button color="primary" type="submit">Update</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>