<mat-card>
    <h1 style="padding: 10px;">Add New Category</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                   
                    <form #myForm="ngForm" (ngSubmit)="formSubmit(); myForm.resetForm()">
                        <mat-form-field class="w100"  appearance="outline">
                           <mat-label>Title</mat-label>
                           <input 
                                  autofocus
                                  type="text"
                                  name="title"
                                  matInput
                                  placeholder="Enter here"
                                  [(ngModel)]="category.title"
                                  required
                                  
                            >
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            
                            <textarea name="description" matInput placeholder="Enter Category" rows="10" [(ngModel)]="category.description" required></textarea>
                         </mat-form-field>

                         <div class="text-center">
                            <button  mat-raised-button color="primary" type="submit">ADD</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        
    </mat-card-content>

</mat-card>