<mat-card>
    <h1 style="padding: 10px;">Update Quiz</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
        <form #myForm="ngForm" *ngIf="quizData" (ngSubmit)="updateData(); myForm.reset()" >
             <!-- title field -->
             <mat-form-field class="w100" appearance="outline">
                 <mat-label>Title</mat-label>
                 <input 
                       [(ngModel)]="quizData.title"
                       type="text"
                       name="title"
                       placeholder="Enter here"
                       matInput
                       >
             </mat-form-field>

             <!-- description -->
             <mat-form-field class="w100" appearance="outline">
                <mat-label>Decription</mat-label>
                <textarea type="text" name="description" placeholder="Enter here" rows="5" matInput [(ngModel)]="quizData.description"></textarea>
            </mat-form-field>

            <div class="row">
                <div class="col-md-6">
                    <!-- max marks  -->
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Maximum Marks</mat-label>
                        <input 
                              [(ngModel)]="quizData.maxMarks"
                              type="text"
                              name="maxMarks"
                              placeholder="Enter here"
                              matInput
                              >
                    </mat-form-field>

                </div>
                <div class="col-md-6">
                    <!-- no of question to be display  -->
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Number of Question</mat-label>
                        <input 
                              [(ngModel)]="quizData.noOfQuestions"
                              type="text"
                              name="noOfQuestions"
                              placeholder="Enter here"
                              matInput
                              >
                    </mat-form-field>
                </div>  
            </div>
            <!-- active field -->
            <mat-slide-toggle name="active" class="mt20" color="primary" [checked]="false" [(ngModel)]="quizData.active">
                 Publish Me
            </mat-slide-toggle>
            <br>
            <!-- category select -->
            <mat-form-field class="w100 mt20" appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select  name="category"  [(ngModel)]="quizData.category.cid">
                  <mat-option *ngFor="let c of category" [value]="c.cid"  >
                    {{c.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        
              <div class="text-center container">
                <button mat-raised-button type="submit" color="primary">Update</button>
              </div>

        </form>
            </div>
        
        </div>
    </div>
    </mat-card-content>
</mat-card>
