
<mat-card >

       <h2>Your Profile</h2>
      
       <mat-card-content>
           <div class="bootstrap-wrapper">
               <div class="container">
                   <div class="container text-center">
   
                       <img class="profile-image" src="../../../assets/defaultIcon.png" >
                       <h1>Hi, {{user.firstname}} {{user.lastname}}</h1>
                      
                       <div class="row">
   
   
   
                           <div class="col-md-10 offset-md-1">
   
   
   
                               <table class="table">
   
                                   <tr>
                                       <td>Username</td>
                                       <td>{{ user.username }}</td>
                                   </tr>
   
                                   <tr>
                                       <td>Phone number</td>
                                       <td>{{user.phone}} </td>
                                   </tr>
   
                                   <tr>
                                       <td>Email</td>
                                       <td>{{user.email}}</td>
                                   </tr>
   
                                   <tr>
                                       <td>Role</td>
                                       <td>{{user.authorities[0].authority}}</td>
                                   </tr>
   
                                   <tr>
                                       <td>Status</td>
                                       <td>{{user.enabled?"ACTIVE":"NOT ACTIVE"}}</td>
                                   </tr>
                               </table>
   
   
                           </div>
   
                       </div>
                   </div>
               </div>
           </div>

           <div class="text-center">
            <button mat-raised-button color="primary" style="margin-right: 5px; " >Update</button>
            
            <button mat-raised-button color="accent"  class="button" >Delete</button>
           </div> 
           

       </mat-card-content>
       
   </mat-card>
   