<h1 class="mt20">Questions of {{qTitle}}</h1>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="button">
                <button mat-raised-button color="primary" [routerLink]="'/admin-dashboard/add-question/'+qId+ '/' + qTitle" >Add Question</button>
            </div>
            <mat-card *ngFor="let q of questions; let i = index" class="mt20" >
                       <mat-card-content>
                                        <p>
                                            <b> Q {{i+1}}) </b>
                                            <span class="ml10" [innerHTML]="q.content" ></span>
                                        </p>
                                        
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p><b>1)</b> {{q.option1}} </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><b>2)</b> {{q.option2}} </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p><b>3)</b> {{q.option3}} </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><b>4)</b> {{q.option4}} </p>
                                                </div>
                                            </div>

                                        </div>
                                        <mat-divider></mat-divider>
                                        <p class="mt20">
                                            <b>Correct Answer:</b> {{q.answer}}
                                        </p>
                                        <div class="button">
                                            <button mat-raised-button [routerLink]="'/admin-dashboard/update-question/' + q.quesId"  style="background-color: green;color: #fff; margin-right: 5px; ">update</button>
                                            <button mat-raised-button color="warn" (click)="deleteQuestion(q.quesId)" >delete</button>
                                        </div>
                                        <mat-divider></mat-divider>

                       </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>