.card{
    padding: 20px;
    /* margin-top: 5px;
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%); */
}
 /* .card h1{
    color:  #fff;
} 
.form-label{
    color:  #fff;
}  */

.text-center{
    padding-bottom: 10px;
}
.button{
    text-align: center;
    padding-bottom: 10px;
}
.full-width{
    width: 90%;
    
}



