<mat-card>
    <mat-action-list>
        <div mat-subheader >Menu</div>
        <!-- <button mat-subheader>
            <mat-icon mat-list-icon >menu</mat-icon> Menu
        </button> -->
         

        <button mat-list-item routerLink="/admin-dashboard" >
            <mat-icon mat-list-icon>home</mat-icon> Home
        </button>

        <button mat-list-item routerLink="/admin-dashboard/profile" >
            <mat-icon mat-list-icon>account_circle</mat-icon> Profile
        </button>
        
        <button mat-list-item routerLink="/admin-dashboard/categories" >
            <mat-icon mat-list-icon>segment</mat-icon> Categories
        </button>

        <button mat-list-item routerLink="/admin-dashboard/add-category" >
            <mat-icon mat-list-icon>add_circle</mat-icon> Add Categories
        </button>

        <button mat-list-item routerLink="/admin-dashboard/quizzes" >
            <mat-icon mat-list-icon>quiz</mat-icon> Quizes
        </button>

        <button mat-list-item routerLink="/admin-dashboard/add-quiz" >
            <mat-icon mat-list-icon>queue</mat-icon> Add Quizes
        </button>

        <button mat-list-item (click)="logout()" >
            <mat-icon mat-list-icon>logout</mat-icon> Logout
        </button>


    </mat-action-list>
</mat-card>